.mainclass {
    height: 80px;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 29px;
  }
  nav ul li {
    display: inline-block;
  }
  .icon {
    display: flex;
    gap: 10px;
  }
  .ic {
    display: flex;
    gap: 34px;
  }
  .ic i:hover {
    color: red;
  }
  nav ul li:hover {
    color: brown;
  }
  /* second division */
  .main2 {
    display: flex;
    gap: 100px;
    background-color: lightblue;
    height: 1096px;
    width: 935px;
    margin-left: 10px;
  }
  .second1 {
    font-family: "Times New Roman", Times, serif;
    margin-left: 90px;
    margin-top: 70px;
  }
  
  .button1 {
        background-color: #4a4a4b;
        color: white;
        padding: 25px 29px;
        border: none;
  }
  .image1 {
    height: 200px;
    width: 146px;
  }
  /* third division */
  .main {
    display: flex;
    gap: 30px;
    margin-left: 10px;
    margin-top: 20px;
    justify-content: space-around;
  }
  .container4 {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .container5 {
    display: flex;
    gap: 10px;
    justify-content: space-around;
  }
  .button2 {
    background-color: red;
    color: white;
    text-align: center;
    justify-content: center;
    height: 61px;
    width: 175px;
    font-size: 16px;
    border: none;
  }
  .container6 {
    text-align: center;
  }
  h2 {
    margin-left: 35px;
  }
  h3 {
    margin-left: 10px;
    /* text-align: center; */
    padding: 8px;
}
  .container7 {
    display: flex;
    justify-content: space-around;
  }
  .button3 {
    background-color: red;
    color: white;
    text-align: center;
    margin-left: 89px;
    margin-top: 12px;
    border: none;
    font-size: 16px;
    padding: 25px 29px;
}
  .m7contain {
    margin-top: 150px;
  }
  .container8 {
    display: flex;
    justify-content: space-around;
  }
  .m8contain {
    margin-top: 150px;
  }
  .m9contain {
    display: flex;
    /* flex-wrap: nowrap; */
    background-color: red;
    color: white;
    padding: 15px;
    gap: 60px;
    margin-top: 70px;
    justify-content: space-around;
  }
  .container10{
    display: flex;
  }
  .image5{
    height: 690px;
    width: 467px;
  }
  .image6{
    height: 690px;
    width: 467px;
  }
  .image7{
    height: 330px;
    width: 467px;
  }
  .image8{
    height: 330px;
    width: 467px;
  }
  .box{
    display: grid;
  }